@model AMNHAC.Models.link
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    
    <div id="checkSrc"> Song for: @Model.timkiem</div>

    <iframe width="560" height="315" src="@Model.timkiem" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
   

   
   
</body>


