@model IEnumerable<AMNHAC.Models.Video>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <div class="song" style="text-align:center;">
        <h3 class="title" style="text-align:center;"> @ViewBag.Message </h3>
    </div>

    @foreach (var item in Model)
    {
        <div class="song">
            <div class="thumb" style="background-image: url('https://img.youtube.com/vi/@item.id/maxresdefault.jpg') "></div>
            <div class="body">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3 class="title"> @item.title </h3>
                <p class="author"> @item.author </p>
            </div>
            <div class="option">
                <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
            </div>
        </div>
       
    }


   
</body>


