<link href="~/Content/css/ticket.css" rel="stylesheet" />
<body>
    @using Microsoft.AspNet.Identity
    <section class="dau1">
        <header>
            <div class="caidau">
                <h1 class="caichu">
                    <span class="chudau">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">@Html.ActionLink("Xin Chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Bạn đã có tài khoản?" }),</font>
                        </font>
                    </span>

                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> bạn cảm thấy được truyền cảm hứng?</font>
                    </font>
                </h1>
            </div>
        </header>
    </section>

    <div class="dau2">

        <div class="khung">

            <div class="tieude" style=" padding: 10px 5px;">
                <h2 class="chutieude">YOUR SONG</h2>
            </div>
        </div>
        <div class="khung">
            <div class="tieude">
                <div class="tieude">
                    <img width="100" height="100" src="https://img.youtube.com/vi/PNajbdtPvRc/maxresdefault.jpg" title="YouTube video player" />
                </div>
                <h2 class="chutieude">

                    <iframe width="560" height="315" src="https://www.youtube.com/embed/PNajbdtPvRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                </h2>
            </div>
        </div>
        <div class="khung">
            <div class="music">
                <div class="music-anh">
                    <img width="100" height="100" src="https://img.youtube.com/vi/PNajbdtPvRc/maxresdefault.jpg" title="YouTube video player" />
                    <div class="music-name">
                        Hà Nam
                    </div>
                    <div class="music-name">
                        <img src="~/Content/images/play.png" width="50" height="50" style="float: left;margin-top: -60px;" />
                    </div>
                    <audio id="mySong">
                        <source src="~/Content/music/holo.mp3" type="audio/mp3" />
                    </audio>
                </div>
            </div>
        </div>



        <div class="khung">
            <button class="play-list" id="play-list">Playlist <i class="fas fa-list"></i></button>
            <div class="itxe" style=" padding-right: 450px;">
                <div class="music" style="max-width: 500px;margin: 0 auto;border-radius: 12px;background-color: white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 35px 15px 30px;">
                    <div class="music-thumb">
                        <img src="https://source.unsplash.com/random" alt="" />
                    </div>
                    <h3 class="music-name">Beautiful in white</h3>
                    <div class="widthrange" style="padding-left: 100px;">
                        <input type="range" name="range" id="range" class="range" />
                    </div>
                    <audio id="mySong"><source src="~/Content/music/holo.mp3" type="audio/mp3" /></audio>
                    <div class="timer">

                        <div class="remaining">-3:10</div>
                        <div class="duration">2:10</div>

                    </div>
                    <div class="controls">
                        <ion-icon name="infinite-outline" class="play-infinite"></ion-icon>

                        <ion-icon name="play-back" class="play-back"></ion-icon>
                        <div class="play">
                            <div class="player-inner">
                                <ion-icon name="play" class="play-icon" id="icon"></ion-icon>
                            </div>
                        </div>
                        <ion-icon name="play-forward" class="play-forward"></ion-icon>

                        <ion-icon name="repeat-outline" class="play-repeat"></ion-icon>
                    </div>
                </div>
            </div>


        </div>
    </div>

    @*Load Song*@
    <script type="text/javascript">
        var mySong = document.getElementById("mySong");
        var icon = document.querySelector(".player-inner");
        var next = document.querySelector(".play-forward");
        var back = document.querySelector(".play-back");

        var durationTime = document.querySelector(".duration");
        var remainingTime = document.querySelector(".remaining");

        var rangeBar = document.querySelector(".range");

        displayTimer();
        let timer;


        let isPlaying = true;
        var music = ["holo.mp3", "summer.mp3", "spark.mp3", "home.mp3"]
        let indexSong = 0;

        mySong.setAttribute("src", `/Content/music/${music[indexSong]}`);


        icon.addEventListener("click", playPause);
        function playPause() {
            if (isPlaying) {
                mySong.play();
                icon.innerHTML = `<ion-icon name="pause-circle"></ion-icon>`;
                isPlaying = false;
                timer = setInterval(displayTimer, 500);
            }
            else {
                mySong.pause();
                icon.innerHTML = `<ion-icon name="play"></ion-icon>`;
                isPlaying = true;
                clearInterval(timer);
            }
        }

        next.addEventListener("click", function () {
            changeSong(1);
        });
        back.addEventListener("click", function () {
            changeSong(-1);
        });
        function changeSong(dir) {
            if (dir === 1) {
                indexSong++;
                if (indexSong >= music.length) {
                    indexSong = 0;
                }
                isPlaying = true;
            } else if (dir === -1) {
                indexSong--;
                if (indexSong < 0) {
                    indexSong = music.length - 1;
                }
                isPlaying = true;
            }
            mySong.setAttribute("src", `/Content/music/${music[indexSong]}`);
            playPause();
        }



        function displayTimer() {
            console.log(mySong.duration, mySong.currentTime);
            var { duration, currentTime } = mySong;
            rangeBar.max = duration;
            rangeBar.value = currentTime;
            remainingTime.textContent = time(currentTime);
            if (!duration) {
                durationTime.textContent = "00:00";
            }
            else {
                durationTime.textContent = time(duration);
            }
        }
        function time(number) {
            var phut = Math.floor(number / 60);
            var giay = Math.floor(number - phut * 60);
            return `${phut < 10 ? '0' + phut : phut}:${giay < 10 ? '0' + giay : giay}`;
        }


        rangeBar.addEventListener("change", changeBar);
        function changeBar() {
            mySong.currentTime = rangeBar.value;
        }

        mySong.addEventListener("ended", endsong)
        function endsong() {
            changeSong(1);
        }
    </script>


    <div id="tour" class="tour-section">
        <div class="content-section">
            <h2 class="section-heading text-white">TOUR DATES</h2>
            <p class="section-sub-heading text-white">Remember to book your tickets!</p>
            <!-- Ticket -->
            <ul class="ticket-list">
                <li>September <span class="sold-out">Sold out</span></li>
                <li>October  <span class="sold-out">Sold out</span></li>
                <li>November <span class="quantity">3</span></li>
            </ul>
            <!-- Places -->
            <div class="row list-place">
                <div class="col col-third s-col-full mt-16">
                    <img src="~/Content/images/newyork.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">New York</h3>
                        <p class="place-time">Fri 27 Nov 2016</p>
                        <p class="place-descr">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button class="btn js-buy-ticket s-full-width">Buy Tickets</button>
                    </div>
                </div>
                <div class="col col-third s-col-full mt-16">
                    <img src="~/Content/images/paris.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">Paris</h3>
                        <p class="place-time">Sat 28 Nov 2016</p>
                        <p class="place-descr">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button class="btn js-buy-ticket s-full-width">Buy Tickets</button>
                    </div>
                </div>
                <div class="col col-third s-col-full mt-16">
                    <img src="~/Content/images/sanfran.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">New York</h3>
                        <p class="place-time">Fri 29 Nov 2016</p>
                        <p class="place-descr">Praesent tincidunt sed tellus ut rutrum sed vitae justo.</p>
                        <button class="btn js-buy-ticket s-full-width">Buy Tickets</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-modal-close">
                <i class="fa fa-times"></i>
            </div>

            <header class="modal-header">
                <i class="modal-heading-icon fa fa-ticket"></i>
                Buy Tickets
            </header>

            <div class="modal-body">
                <label for="quantity" class="modal-label">
                    <i class="fa fa-shopping-cart"></i>
                    Tickets, $15 per person
                </label>
                <input id="quantity" type="text" class="modal-input" placeholder="How many?">

                <label for="email" class="modal-label">
                    <i class="fa fa-user"></i>
                    Send To
                </label>
                <input id="email" type="text" class="modal-input" placeholder="Enter email">

                <button id="buy-ticket">
                    Pay <i class="ti-check"></i>
                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-help text-black">Need <a href="">help?</a></p>
            </footer>
        </div>
    </div>
    <script>
        const buyBtns = document.querySelectorAll('.js-buy-ticket')
        const modal = document.querySelector('.js-modal')
        const modalContainer = document.querySelector('.js-modal-container')
        const modalClose = document.querySelector('.modal-close')

        function showBuyTickets() {
            modal.classList.add('open')
        }

        function hideBuyTickets() {
            modal.classList.remove('open')
        }

        for (const buyBtn of buyBtns) {
            buyBtn.addEventListener('click', showBuyTickets)
        }

        modalClose.addEventListener('click', hideBuyTickets)
        modal.addEventListener('click', hideBuyTickets)
        modalContainer.addEventListener('click', function (event) {
            event.stopPropagation()
        })
    </script>


</body>
