
@{
    ViewBag.Title = "Quản Lí";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Quản Lí Hệ Thống</h2>
<div class="place-body" style="padding: 16px; font-size: 15px; background-color: #f8f8f8; width: 50%; text-align: center; margin-left: 26%;">


    <div class="khung" style="color:black;">


        <div class="itxe">
            <div class="music" style="max-width: 500px;margin: 0 auto;border-radius: 12px;background-color: white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 35px 15px 30px;">
                

                @Html.ActionLink("Hệ Thống Trang Chủ", "TrangChu")
            </div>
        </div>

        <div class="itxe">
            <div class="music" style="max-width: 500px;margin: 0 auto;border-radius: 12px;background-color: white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 35px 15px 30px;">
                Hệ Thống User
            </div>
        </div>
    </div>
</div>
