
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/content.css" rel="stylesheet" />
<div class="information">
    <div class="profile">
        <div class="picture">
            <img src="~/Content/images/avatar.jpg" alt="">
        </div>
        <div class="info">
            <h1 class="name mt-8">Phan Thành Đạt</h1>
            <div class="member_type">
                <i class="fa fa-users mt-8"> Free member </i>
                <div class="private_profile">
                    <i class="fa fa-eye-slash mt-8"> Private Profile</i>
                    <a href="#" class="change_profile mt-8">Change</a>
                </div>
            </div>
        </div>
    </div>
    <div class="introduce">
        <div class="intro">“Roses are red, violets are blue. You may not know it, but someone loves you.”</div>
    </div>
</div>
<div class="taskbar mg-16 pd-12">
    <ul class="task">
        <li class="task_logo"><a href="#"><i class="fa fa-list"></i><br>Playlist</a></li>
        <li class="task_logo"><a href="#"><i class="fa fa-pencil"></i><br>Edit</a></li>
        <li class="task_logo"><a href="#"><i class="fa fa-upload"></i><br>Upload</a></li>
        <li class="task_logo"><a href="#"><i class="fa fa-certificate"></i><br>Badges</a></li>
        <li class="task_logo"><a href="#"><i class="fa fa-book"></i><br>History</a></li>
        <li class="task_logo"><a href="#"><i class="fa fa-envelope"></i><br>Notification</a></li>
    </ul>
</div>
<div class="newsfeed mg-16 pd-12">
    <div class="status">
        <div class="status_header">
            <div class="status_avatar pd-8">
                <img src="~/Content/images/avatar.jpg" alt="">
            </div>
            <div class="status_hMid pd-8">
                <div class="status_name">Phan Thành Đạt</div>
                <div class="status_time">20 phút</div>
            </div>
        </div>
        <div class="caption">
            XÉT HỌC BẠ TRƯỚC KỲ THI TỐT NGHIỆP THPT: THỜI CƠ VÀNG ĐỂ TRÚNG TUYỂN ĐẠI HỌC SỚM
            Khi đăng ký xét học bạ, ngoài các lưu ý về mức điểm nhận hồ sơ, thủ tục và quy trình xét tuyển … các chuyên gia tuyển sinh cho hay, việc “chốt đơn” càng sớm sẽ giúp cơ hội trúng tuyển càng cao.
            Việc đăng ký sớm lại càng quan trọng khi bạn chọn xét vào ngành "hot" tại các trường đại học đa ngành, có uy tín đào tạo, có tỷ lệ “chọi” cao như HUTECH.
        </div>
        <div class="status_img text-center mt-8">
            <img src="https://demoda.vn/wp-content/uploads/2022/01/anh-meme-meo.jpg" alt="">
        </div>
    </div>
</div>
