<div id="footer">
    <div class="about">
        <h2>NVD.NET</h2>
        <p>Thỏa Sức Đam Mê</p>
        <ul class="social-icon">
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-twitter"></i></a></li>
            <li><a href=""><i class="fa fa-instagram"></i></a></li>
            <li><a href=""><i class="fa fa-youtube"></i></a></li>
        </ul>
    </div>
    <div class="footer_links">
        <h2>(❁´◡`❁)</h2>
        <ul>
            <li><a href="#">Trang Chủ</a></li>
            <li><a href="#">Về Chúng Tôi</a></li>
            <li><a href="#">Thông Tin Liên Lạc</a></li>
            <li><a href="#">Dịch Vụ</a></li>
            <li><a href="#">Điều Kiện Chính Sách</a></li>
        </ul>
    </div>
    <div class="footer_contact">
        <h2>Thông Tin Liên Hệ</h2>
        <ul class="info">
            <li>
                <span><i class="fa fa-map-marker"></i></span>
                <span>
                    Khu Công nghệ Cao<br />
                    Quận 9, Thành Phố Hồ Chí Minh<br />
                    Việt Nam
                </span>
            </li>
            <li>
                <span><i class="fa fa-phone"></i></span>
                <p>
                    <a href="#">069.553215</a>
                </p>
            </li>
            <li>
                <span><i class="fa fa-envelope"></i></span>
                <p><a href="#">nhom2@gmail.com</a></p>
            </li>
            <li>
                <form class="form">
                    <input type="email" class="form__field" placeholder="Đăng Ký Subscribe Email" />
                    <button type="button" class="btn btn--primary  uppercase">Gửi</button>
                </form>
            </li>
        </ul>
    </div>
</div>
<style>

</style>
