
@{
    ViewBag.Title = "IndexDiscover";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Discover</h2>
<div class="khung">
    <button class="play-list" id="play-list">Playlist <i class="fas fa-list"></i></button>
    <div class="itxe" style=" padding-right: 450px;">
        <div class="music" style="max-width: 500px;margin: 0 auto;border-radius: 12px;background-color: white;box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;padding: 35px 15px 30px;">
            <div class="music-thumb">
                <img src="https://source.unsplash.com/random" alt="" />
            </div>
            <h3 class="music-name">Beautiful in white</h3>
            <div class="widthrange" style="padding-left: 100px;">
                <input type="range" name="range" id="range" class="range" />
            </div>
            <audio id="mySong"><source src="~/Content/music/holo.mp3" type="audio/mp3" /></audio>
            <div class="timer">

                <div class="remaining">-3:10</div>
                <div class="duration">2:10</div>

            </div>
            <div class="controls">
                <ion-icon name="infinite-outline" class="play-infinite"></ion-icon>

                <ion-icon name="play-back" class="play-back"></ion-icon>
                <div class="play">
                    <div class="player-inner">
                        <ion-icon name="play" class="play-icon" id="icon"></ion-icon>
                    </div>
                </div>
                <ion-icon name="play-forward" class="play-forward"></ion-icon>

                <ion-icon name="repeat-outline" class="play-repeat"></ion-icon>
            </div>
        </div>
    </div>


</div>
    </div>

@*Load Song*@
<script type="text/javascript">
    var mySong = document.getElementById("mySong");
    var icon = document.querySelector(".player-inner");
    var next = document.querySelector(".play-forward");
    var back = document.querySelector(".play-back");

    var durationTime = document.querySelector(".duration");
    var remainingTime = document.querySelector(".remaining");

    var rangeBar = document.querySelector(".range");

    displayTimer();
    let timer;


    let isPlaying = true;
    var music = ["holo.mp3", "summer.mp3", "spark.mp3", "home.mp3"]
    let indexSong = 0;

    mySong.setAttribute("src", `/Content/music/${music[indexSong]}`);


    icon.addEventListener("click", playPause);
    function playPause() {
        if (isPlaying) {
            mySong.play();
            icon.innerHTML = `<ion-icon name="pause-circle"></ion-icon>`;
            isPlaying = false;
            timer = setInterval(displayTimer, 500);
        }
        else {
            mySong.pause();
            icon.innerHTML = `<ion-icon name="play"></ion-icon>`;
            isPlaying = true;
            clearInterval(timer);
        }
    }

    next.addEventListener("click", function () {
        changeSong(1);
    });
    back.addEventListener("click", function () {
        changeSong(-1);
    });
    function changeSong(dir) {
        if (dir === 1) {
            indexSong++;
            if (indexSong >= music.length) {
                indexSong = 0;
            }
            isPlaying = true;
        } else if (dir === -1) {
            indexSong--;
            if (indexSong < 0) {
                indexSong = music.length - 1;
            }
            isPlaying = true;
        }
        mySong.setAttribute("src", `/Content/music/${music[indexSong]}`);
        playPause();
    }



    function displayTimer() {
        console.log(mySong.duration, mySong.currentTime);
        var { duration, currentTime } = mySong;
        rangeBar.max = duration;
        rangeBar.value = currentTime;
        remainingTime.textContent = time(currentTime);
        if (!duration) {
            durationTime.textContent = "00:00";
        }
        else {
            durationTime.textContent = time(duration);
        }
    }
    function time(number) {
        var phut = Math.floor(number / 60);
        var giay = Math.floor(number - phut * 60);
        return `${phut < 10 ? '0' + phut : phut}:${giay < 10 ? '0' + giay : giay}`;
    }


    rangeBar.addEventListener("change", changeBar);
    function changeBar() {
        mySong.currentTime = rangeBar.value;
    }

    mySong.addEventListener("ended", endsong)
    function endsong() {
        changeSong(1);
    }
</script>
