#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;
    opacity: 0.5;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}
.place-img {
    width: 100%;
    display: block;
}
.place-body {
    padding: 16px;
    font-size: 15px;
    background-color: #fff;
}
.place-heading {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-descr {
    color: #0b0a09;
    line-height: 1.4;
}
.tour-section {
    background-color: #000;
}

.ticket-list {
    background-color: #fff;
    list-style: none;
    margin-top: 40px;
}

    .ticket-list li {
        color: #757575;
        font-size: 15px;
        padding: 11px 16px;
        border-bottom: 1px solid #ddd;
    }


.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}

    .modal.open {
        display: flex;
    }



.modal-container {
    background: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    max-height: 500px;
    position: relative;
    animation: modalFadeIn ease .5s;
    overflow: auto;
}

.modal-header {
    background: #000;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-heading-icon {
    margin-right: 8px;
    font-size: 45px;
}

.modal-close:hover {
    opacity: 0.5;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    color: #000;
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-ticket:hover {
    opacity: 0.9;
}

#buy-ticket {
    background: #009688;
    border: none;
    width: 100%;
    color: #fff;
    text-transform: uppercase;
    padding: 16px;
    cursor: pointer;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

    .modal-footer a {
        color: #2196F3;
    }

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.text-black{
    color:#000;
}

.Lyrics-form {
    display: flex;
    align-items: center;
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}

.Lyrics .Lyrics-info {
    color: #000;
    font-weight: 700;
    width:50%;

}
